/*TODO: STYLE CHAT BOX*/

/* Chat entries*/
li {
    list-style: none;
    margin-left: -30px;
}
/*********************************/

/* Chat scrolls up...*/
.event-container {
    height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
/*********************************/


/*Game and chat go next to one another */
#game{
    display: inline-block;
}
.chat-wrapper{
    display: inline-block;
    vertical-align:top
}
/*********************************/
