/*TODO: STYLE CHAT BOX*/

/* Chat entries*/
li {
    list-style: none;
    margin-left: -30px;
}
/*********************************/

#redTeamButton{
    margin-right: 8px;
}
#blueTeamButton{
    margin-left: 2px;
}

td{
    padding-left: 5px;
}
table{
    display: inline-block;
}

#blueTeam #redTeam{
    float: left;
}

/* Chat scrolls up...*/
.event-container {
    height: 200px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
/*********************************/

/*Game and chat go next to one another */
#game{
    display: inline-block;
}
.chat-wrapper{
    display: inline-block;
    vertical-align:top;
    max-width: 250px;
}
/*********************************/

/* Style event messages to be different from chat */
.event-message{
color: black;
font-weight: bold;
}
.event-message-red{
color: red;
font-weight: bold;
}
.event-message-blue{
color: blue;
font-weight: bold;
}
/*********************************/