/*TODO: STYLE CHAT BOX*/

li {
    list-style: none;
    margin-left: -30px;
}


/* CHAT BOX */


/* Chat scrolls up...*/

.event-container {
    height: 70px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}